<div class="products--wrapper">
  <h1>Listado de productos</h1>

  <div *ngIf="products.length === 0">No hay articulos disponibles</div>

  <div class="products--grid">
    <app-product
      [product]="product"
      *ngFor="let product of products"
      (addedProduct)="onAddedProduct($event)"
    ></app-product>
  </div>

  <div class="products--nav">
    <button type="button" (click)="prevPage()" [class.inactive]="offset == 0">
      ANTERIOR
    </button>
    <button type="button" (click)="nextPage()">SIGUIENTE</button>
  </div>
</div>
