<div class="footer">
  <div class="footer--info">⚡ Made by Enrique</div>
  <div class="footer--links">
    <a href="https://github.com/evillalobosa/">
      <img src="../../../assets/images/github.png" alt="Github" />
      <p>Github</p>
    </a>
    <a href="https://twitter.com/e_villalobosa">
      <img src="../../../assets/images/twitter.png" alt="Twitter" />
      <p>Twitter</p>
    </a>
    <a href="https://www.linkedin.com/in/evillalobosa/">
      <img src="../../../assets/images/linkedin.png" alt="Linkedin" />
      <p>Linkedin</p>
    </a>
  </div>
</div>
