<div class="navbar--desktop">
  <div class="logo">
    <img src="../../../assets/images/store.png" alt="logo" />
    <div>Mi+Store</div>
  </div>

  <div class="tags">
    <button type="button">ALL</button>
    <div *ngFor="let cat of categories">
      <button type="button">{{ cat | uppercase }}</button>
    </div>
  </div>

  <div class="cart">
    <img src="../../../assets/images/shopping-cart.png" alt="Shopping cart" />
    <p>{{ shoppingCartItems }} ITEMS (${{ totalPrice }})</p>
  </div>
</div>
