<div class="navbar--desktop">
  <a href="https://evillalobosa.github.io/angular10-store-app/" class="logo">
    <img
      src="https://raw.githubusercontent.com/evillalobosa/angular10-store-app/main/src/assets/images/store.png"
      alt="logo"
    />
    <div>Mi+Store</div>
  </a>

  <div class="tags">
    <button type="button">ALL</button>
    <div *ngFor="let cat of categories">
      <button type="button">{{ cat.name | uppercase }}</button>
    </div>
  </div>

  <button type="button" (click)="onClick()" class="cart-button">
    <img
      src="https://raw.githubusercontent.com/evillalobosa/angular10-store-app/main/src/assets/images/shopping-cart.png"
      alt="Shopping cart"
    />
    <p>{{ shoppingCartItems }} ITEMS (${{ totalPrice }})</p>
  </button>
</div>
