.navbar--desktop {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-fg-dark);
  padding: 10px 30px;
}

.logo {
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 24px;
    margin-right: 5px;
  }
}

.tags button,
.cart {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.tags {
  display: flex;
  align-items: center;
  button {
    background: transparent;
    opacity: 0.6;
    border: none;
    padding: 5px;
    margin: 5px;
  }
  button:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.cart {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 40em) {
  .tags {
    display: none;
  }
}
