<div class="header">
  <div class="header--content">
    <div class="header--title">
      <h1>Tienda de productos Online</h1>
      <div>
        <p>Este es un proyecto de demostración de una tienda online.</p>
        <p>Mediante este proyecto, aprendí sobre el framework de Angular.</p>
        <p>Todo esto fue gracias al curso de Angular en Platzi.</p>
        <p>
          Los objetos listados a continuación pertencen al servicio de
          fakestoreapi.com.
        </p>
      </div>
    </div>
  </div>
  <div class="header--image">
    <img src="../../../assets/images/living-room.png" alt="header img" />
  </div>
</div>
