<div class="product--wrapper">
  <app-img [imgSource]="product.image"></app-img>

  <div class="product--info">
    <h2 class="product--title">{{ product.title }}</h2>
    <p class="product--category">{{ product.category }}</p>
    <p class="product--description">
      {{ product.description | truncateDescription : 10 }}
    </p>
  </div>

  <div class="product--price">
    <p>${{ product.price }}</p>
    <button type="button" (click)="onAddToCart()">
      <img src="../../../assets/images/shopping-cart.png" alt="Add to Cart" />
      <p>Add to Cart</p>
    </button>
  </div>
</div>
