/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-bg: #fca311;
  --color-fg-light: #edede9;
  --color-fg-dark: #1b263b;
  --color-bg-footer: #1b263b;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

.products--grid {
  app-product {
    app-img {
      img {
        border-radius: 10px;
      }
    }
  }
}
